*{
    margin: 0;
    padding: 0;
    font-family: 'Futura Md BT';
    text-decoration: none;
    box-sizing: border-box;
}
header{
    background: black url(./---/Background\ Text.png) no-repeat;
    width: 1516px;
height: 1010px;
}
.qww{
    position: absolute;
    top: 49px;
    left: 101px;
}
.header__menu ul{
    display: flex;
}
.header__menu ul li{
    margin-right: 23px;
}